<section class="page-header">

	  <img class="project-logo" src="{{site.logo}}">
	  <h1 class="project-name">{{ site.title }}</h1>
	  <h2 class="project-tagline">{{ site.tagline }}</h2>
	  <a href="https://github.com/frameworkium/frameworkium" class="btn">View on GitHub</a>
	  <a href="https://github.com/Frameworkium/frameworkium/archive/master.zip" class="btn">Download .zip</a>
	  <a href="https://github.com/Frameworkium/frameworkium/archive/master.tar.gz" class="btn">Download .tar.gz</a>

</section>